template(name="filebeat_json" type="list" option.jsonf="on") {
    property(format="jsonf" name="timegenerated"       outname="@timestamp"    dateFormat="rfc3339")
    property(format="jsonf" name="timereported"        outname="event.created" dateFormat="rfc3339")
    property(format="jsonf" name="syslogseverity-text" outname="log.level"     caseConversion="upper")
    property(format="jsonf" name="syslogfacility-text" outname="log.syslog.facility.name")
    property(format="jsonf" name="app-name"            outname="process.name")
    property(format="jsonf" name="procid"              outname="process.pid")
    property(format="jsonf" name="msg"                 outname="message")
}

action(
    type="omfwd"
    Target="{{ filebeat_target_host }}"
    Port="{{ filebeat_rsyslog_input_port }}"
    Protocol="{{ filebeat_rsyslog_input_protocol }}"
    template="filebeat_json"
)
